.wrapper

  = render '/shared/side_bar'

  .chat
    .header
      .left-header
        .left-header__title
          グループ名
        %ul.left-header__members
          Member：
          - current_user.groups.each do |group|
            = link_to user_session_path(group) do
              %li.member
                = group.name
              %li.member
                = group.name
              %li.member
                = group.name
      .right-header
        .right-header__button
          Edit
    .messages
      = render partial: 'message', collection: @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'form__message', placeholder: 'type a message'
        .form__mask
          = f.label :image, class: 'form__mask__image' do
            = fa_icon 'picture-o', class: 'icon'
            = f.file_field :image, class: 'hidden'
        = f.submit 'Send', class: 'form__submit'


      -# %form
      -#   %input.form__message
      -#   .form__mask
      -#     %label.form__mask__image
      -#       = fa_icon 'picture-o', class: 'icon'
      -#       %input.hidden{type: 'file'}
      -#   %input.form__submit{type: 'submit', value: 'Send'}